

* {box-sizing: border-box}


.container {
    padding: 16px;
}

input[type=text], input[type=radio], input[type=checkbox] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: #f1f1f1;
}

input[type=text]:focus, input[type=radio]:focus, input[type=checkbox]:focus {
    background-color: #ddd;
    outline: none;
}



hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

input[type=submit] {
    background-color: blue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: large;
    font-family: homa;
}

input[type= submit]:hover {
    color: black;
}

@font-face {
    font-family: 'homa';
    src: url('form validation/Homa.woff') format('woff');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'nasim';
    src: url('fonts/NasimBold.ttf') format('ttf');
    font-style: normal;
    font-weight: bold;
}

p {
    font-family: homa;
    font-weight: 100;
}

h3 {
    font-family: nasim;
    font-weight: bold;
}

select {
    font-family: homa;
    font-weight: 100;
}
